footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: -90px;
    width: 100%;
    height: 50%;
    background: #F6F5F5;
    /* border: 1px solid black; */
}

.footer_content {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40.38px;
    width: 90%;
    /* border: 1px solid black; */
}

.footer_left {
    color: #AFB5C0;
}

.footer_social {
    justify-content: space-between;
    width: 141px;
    /* border: 1px solid black; */
}

.footer_social_block {
    width: 33.8px;
    height: 33.8px;
    border-radius: 50%;
    background: #F53838;
    box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
}